* {
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0.5em;
    grid-template-areas: 
    ". . b . ."
    ". . b y y"
    ". . b y y"; 
  
      
}

#container div{
   padding: 4em 2em;

   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;

}
.red{
    background-color: rgb(165, 0, 55);
}
.blue{
    background-color: royalblue;
    grid-area: b;
}
.yellow{
    background-color: yellow;
    grid-area: y;

}