* {
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 1em;
    grid-template-areas: 
    ". . b . ."
    ". . b y y"
    ". . b y y"; 
}

#container div{

   
}
.red{
   
    background-color: rgb(165, 0, 55);
}
.blue{
    background-color: royalblue;
    grid-area: b;
}
.yellow{
    background-color: yellow;
    
    grid-area: y;
}