
#ad{
  width: 336px;
  height: 280px;
  background-color: black;
  overflow: hidden;
  margin: 5em auto;
  position: relative;
  background-image: url("images/background.png");
}
#ad #status{
  color: white;
  position: absolute;
  top: 0%;
}
#ad #pokemon{
  width: 150px;
  position: absolute;
  bottom: 2em;
  left: 6em;
}
