* {
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0.5em;
    grid-template-areas: 
    ". . b . ."
    ". . b y y"
    ". . b y y"; 
}

#container div{
   padding: 4em 2em;

   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;

}
.red{
    background-color: rgb(202, 11, 75);
}
.blue{
    background-color: cyan;
    grid-area: b;
}
.yellow{
    background-color: yellow;
    grid-area: y;
}

@media(max-width: 1000px){
    #container{
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        ". ."
        "b ."
        ". y" 
        ". ."
        ". ."; 
    }
}
@media(max-width: 600px){
    #container{
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        "."
        "."
        "b" 
        "."
        "."
        "y"
        "."
        "."
        "."
        ".";
        
    }
}